@media print{
    .screen_only{
        display: none;
    }
}
h3 {
    color:#2a642c;
    text-align: center;
}
#menu_section {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(213, 213, 169);
    margin-right: auto;
    margin-left: auto;

}

#menu_section>li a  {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    
}

#menu_section>li a:hover {
    background-color: rgb(178, 178, 139);
}

.text {
    text-align: center;
}



#education_info ul>li {
    text-align: center;
    list-style-position: inside;
    
}

#work_info {
    text-align:center;
    list-style-position: inside;
}

#programming_info{
    text-align:center;
    list-style-position: inside;
}

#favorite_site ul>li{
    text-align: center;
    list-style-position: inside;
}

#my_projects {
    text-align: center;
    list-style-position: inside;
}

.box_table>table{
border-width:1px;
border-style:solid;
border-color: black;
border-collapse: collapse;
width: 50%;
margin: 0 auto;

}

.box_table>table th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    background-color: lightgrey;
}

.box_table>table td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.box_table>table tr:nth-child(even){
    background-color:f2f2f2;
}